.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    a {
        padding: 20px;
        color: #fff;
        margin: 0 10px;
        transition: color 0.4s ease-in-out;

        &:hover,
        &.active {
            color: #c353c3;
        }
    }
}
